{% extends "layout.html" %}


{% block main %}

    {{ super() }}
    <div class="col-xs-12">
        <h3 style="text-align: center; margin:0; color:#1d9ce5"> Documents </h3>
        </br>
    </div>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>text</th>
            <th>Date Created</th>
         </tr>
        {% for ocr in ocrs_list %}
            <tr>
                <td> {{ ocr.id }} </td>
                <td> {{ ocr.name }} </td>
                <td> {{ ocr.text }} </td>
                <td> {{ ocr.created_at }} </td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}