{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script>
    function applySpinner(){
        var opts = {
            lines: 15, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 28, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 0.8, // Rounds per second
            trail: 63, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('progress');
        var spinner = new Spinner(opts).spin(target);
    }

    </script>
{% endblock %}

{% block main %}

    {{ super() }}
        <div class="col-xs-12">
        <h3 style="text-align: center; margin:0; color:#1d9ce5"> New Scan </h3>
        </br>
    </div>
            <div id="wrapper">
                <div id="form">
                    <form enctype="multipart/form-data" action="http://45.55.236.49:8889/upload" method="post">
                        <label for="file">Select image to OCR:</label></br>
                        <span id = "pickFile" class="btn btn-primary btn-file">
                        <input type="file" name="file1" id="file" onchange="$('#wrapper').hide();$('#waitMessage').show();applySpinner();this.form.submit()" style="margin:0 auto;"><br>
                        </span>
                        </br>
                        <!--<button class="btn" type="submit" name="submitBtn" id="submitBtn" value="Submit">submit</button>-->
                    </form>
                </div>

                </br>
                </div>
            <div id="progress"></div>

            <div id="waitMessage" style="display:none; margin-top: 150px">Please Wait While We Upload and OCR   Your File</div>
         </div>

{% endblock %}